<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>West Nusa Tenggara Covid Information Center</title>

  <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
  <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
  <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
  <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">

</head>
<body>

  <header style="background: #4C3571;padding:50px 0;">
    <div class="container">
      <h1 style="color: #fff;">Covid Information Center</h1>
      <span style="color: #fff;">West Nusa Tenggara</span>
    </div>
  </header>
  
  <div class="container">
  <nav class="navbar navbar-expand-sm">
  
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.index')}}">
              Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.news') }}">
              News
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.about')}}">
            About
          </a>
      </li>
    </ul>
</nav>
</div>

<div class="container">
  
    {% block content %}
      
    {% endblock content %}
    
    
    <hr>
    <footer>
        <div class="row">
            <div class="col-md-6">
                <p>Copyright ©2022</p>
            </div>
        </div>
    </footer>
</div>

</script>
</body>
</html>