<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Documents</title>

  <!-- style -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  
  <h1>Responsive Two Column Layout (Left Column Fluid)</h1>
    
  <header>
     <nav>
        <ul class="nav inline-items">
          <li><a href="#">Home</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Photos</a></li>
          <li><a href="#">My Trips</a></li>
       </ul>
    </nav>
  </header>

  <div class="columnsContainer">

    <div class="leftColumn">
      
      
      {% block content %}
        
      {% endblock content %}
        

    </div>

    <div class="rightColumn">
      <h2>Right Column</h2>

      <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris.</p>
    </div>

  </div>
  
  <footer>
    <p><a href="#">Contact Us</a> | <a href="#">Sitemap</a> | <a href="#">Privacy Policy</a></p>
    <p>&copy;2014 Copyright info here...</p>
  </footer>

</body>
</html>