{% extends 'base.html' %}


{% block content %}

<div class="row">
  <div class="col-12 mt-3 mb-1">
    <h4 class="text-uppercase">Kasus Per-Kabupaten / Kota / dsb.</h4>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Kabupaten/Kota</th>
      <th scope="col">Total Kasus</th>
      <th scope="col">Sembuh</th>
      <th scope="col">Meninggal</th>
      <th scope="col">Masih Isolasi</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Otto</td>
      <td>Otto</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>Otto</td>
      <td>Otto</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>Otto</td>
      <td>Otto</td>
    </tr>
  </tbody>
</table>

{% endblock content %}
  