{% extends 'base.html' %}

{% block content %}

<div class="p-5 my-4 rounded-3">
  <h1>Covid-19 / Coronavirus Disease 2019</h1>
  <p class="lead">adalah penyakit akibat infeksi virus severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2). COVID-19 dapat menyebabkan gangguan sistem pernapasan, mulai dari gejala yang ringan seperti flu, hingga infeksi paru-paru, seperti pneumonia.</p>
  <a href="{{ url_for('main.news') }}">Berita Covid-19 Terbaru...</a>
</div>

<div class="row">

<!-- Total Kasus -->
<div class="col-xl-3 col-sm-6 col-12">
  <div class="card">
    <div class="card-content">
      <div class="card-body">
        <div class="media d-flex">
          <div class="media-body text-left">
            <h3 class="danger">{{ total_kasus.get('total') }}</h3>
            <span>Kasus</span>
          </div>
          <div class="align-self-center">
            <i class="icon-user success font-large-2 float-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Sembuh -->
<div class="col-xl-3 col-sm-6 col-12">
  <div class="card">
    <div class="card-content">
      <div class="card-body">
        <div class="media d-flex">
          <div class="media-body text-left">
            <h3 class="success">{{ total_kasus.get('sembuh')}}</h3>
            <span>Sembuh</span>
          </div>
          <div class="align-self-center">
            <i class="icon-plus danger font-large-2 float-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- meninggal -->
<div class="col-xl-3 col-sm-6 col-12">
  <div class="card">
    <div class="card-content">
      <div class="card-body">
        <div class="media d-flex">
          <div class="media-body text-left">
            <h3 class="warning">{{ total_kasus.get('meninggal') }}</h3>
            <span>Meninggal</span>
          </div>
          <div class="align-self-center">
            <i class="icon-graph warning font-large-2 float-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Isolasi -->
<div class="col-xl-3 col-sm-6 col-12">
  <div class="card">
    <div class="card-content">
      <div class="card-body">
        <div class="media d-flex">
          <div class="media-body text-left">
            <h3 class="primary">{{ total_kasus.get('masih_isolasi') }}</h3>
            <span>Masih di Isolasi</span>
          </div>
          <div class="align-self-center">
            <i class="icon-support primary font-large-2 float-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="row">
  <div class="col-12 mt-3 mb-1">
    <h4 class="text-uppercase">Kasus per-Kabupaten/Kota</h4>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Kabupaten/Kota</th>
      <th scope="col">Kasus</th>
      <th scope="col">Sembuh</th>
      <th scope="col">Meninggal</th>
      <th scope="col">Masih di Isolasi</th>
    </tr>
  </thead>
  <tbody>
    
    {% for key, value in kasus_per_kabupaten.items() %}

    <tr>

      <td>{{ loop.index }}</td>
      <td>{{key}}</td>
      <td>{{value[0] + value[1] + value[2]}}</td>
      <td>{{value[1]}}</td>
      <td>{{value[2]}}</td>
      <td>{{value[0]}}</td>

    </tr>

   
    {% endfor %}

  </tbody>
</table>

<div class="alert alert-warning justify-content-end" role="alert">
  <p>Update:  {{ data.get('update_terakhir') }} WITA</p>
</div>      

{% endblock content %}
  