{% extends 'base.html' %}


{% block content %}

<div class="row">
  <div class="col-12 mt-3 mb-1">
    <h4 class="text-uppercase">Kasus Per-Kabupaten / Kota / dsb.</h4>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Kabupaten/Kota</th>
      <th scope="col">Total Kasus</th>
      <th scope="col">Sembuh</th>
      <th scope="col">Meninggal</th>
      <th scope="col">Masih Isolasi</th>
    </tr>
  </thead>
  <tbody>
    
    {% for key, value in kasus_per_kabupaten.items() %}

    <tr>

      <td>{{ loop.index }}</td>
      <td>{{key}}</td>
      <td>{{value[0] + value[1] + value[2]}}</td>
      <td>{{value[1]}}</td>
      <td>{{value[2]}}</td>
      <td>{{value[0]}}</td>

    </tr>

    {% endfor %}

  </tbody>
</table>

{% endblock content %}
  